.container{
    width: 100%;
    background-size: cover;
    height:100%;
}

.github-btn{
    border-radius: 8px;
}
.github-btn:hover {
    border-color: #646cff;
  }
  

.github-img{
    width: 5%;
    height: 5%;
}